<div class="background d-flex justify-content-center align-items-center  align-content-center text-white">

    <div>
        <div class="row container">
            <div>
                <h1 class="text-center pb-2">ABOUT COMPONENT</h1>
            </div>
            <app-star-design></app-star-design>


            <p class="col-md-6">Freelancer is a free bootstrap theme created by Route. The download includes the
                complete
                source
                files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
            </p>
            <p class="col-md-6">Freelancer is a free bootstrap theme created by Route. The download includes the
                complete
                source
                files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
            </p>

        </div>
    </div>

</div>


