<div class="vh-100 ">

    <div class="container  ">
        <div class="text-center mt-5">
            <h1>CONATCT SECTION</h1>
        </div>
        <app-star-design></app-star-design>

        <div>
            <form>
                <div class="form-group">
                    <label for="formGroupExampleInput"></label>
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2"></label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput"></label>
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2"></label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
                </div>
            </form>
        </div>


        <button class="btn mt-3"> send Message </button>
    </div>



</div>